.footer {
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--dark-mode-text);
}

.footer-copyright::before {
    content: '';
    background-image: url(../img/icons/copyright.svg);
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.footer-list {
    display: flex;
    gap: 40px;
}

.footer-item {
    display: inline-flex;
    gap: 40px;
    align-items: center;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
}

.footer-item:first-child::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--main-text-color);
}