.team-social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-text-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: var(--main-text-color);
}

.team-social-link:hover,
.team-social-link:focus {
    color: var(--accent-text-color);
}

.team-social-icon {
    fill: currentColor;
}