.uppertitle {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.uppertitle::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--main-text-color);
}

.uppertitle-mode-dark::before {
    background-color: var(--dark-mode-uppertitle);
}

.uppertitle-mode-dark {
    color: var(--dark-mode-uppertitle);
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
}

.title-mode-dark {
    color: var(--btn-text-color);
}